<form action='/memos/<%= @memo_uuid %>/edit' method='GET'>
  <% @memo_details.each do |record| %>
    <div>
      <input type='text' name='memo_title' value='<%= CGI.escapeHTML(record['memo_title']) %>' readonly class='textbox' id='readonly'>
    </div>
    <div>
      <textarea name='memo_content' readonly class='textarea' id='readonly'><%= CGI.escapeHTML(record['memo_content']) %></textarea>
    </div>
    <div>
      <input type='submit' value='編集' class='button'>
    </div>
  <% end %>
</form>
<form action='/memos/<%= @memo_uuid %>' method='POST'>
  <div>
    <input type='hidden' name='_method' value='DELETE'>
    <input type='submit' value='削除' class='button'>
  </div>
</form>
