<form action='/memos/new' method='GET'>
  <div>
    <button>追加</button>
  </div>
</form>

<% @all_memos.each do |record| %>
  <div>
    <ul>
      <a href='/memos/<%= record["memo_uuid"] %>'><li><%= CGI.escapeHTML(record["memo_title"]) %></li></a>
    </ul>
  </div>
<% end %>
