<form action='/memos' method='POST'>
  <div>
    <input type='text' name='memo_title' required class='textbox'>
  </div>
  <div>
    <textarea name='memo_content' class='textarea'></textarea>
  </div>
  <div>
    <input type='submit' value='追加' class='button'>
  </div>
</form>
